@using DATN.HTTT2.Areas.Admin.Models

@model DATN.HTTT2.Areas.Admin.Models.DDHCt

@{
    ViewBag.Title = "Lập đơn đặt hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    HTTTEntities db = new HTTTEntities();
    List<string> tenhh = (from n in db.HANG_HOA
                          select n.TenHangHoa).ToList();

    List<string> tendl = (from n in db.DAI_LY
                          select n.Ten).ToList();

    var ds = from n in db.HANG_HOA
             select new { n.TenHangHoa, n.DonViTinh, n.DonGia };

}

<head>
    <style>
        span.error {
            font-size: 90%;
        }
        .no-bottom-border td {
            border: none;
        }
        .right-align {
            text-align: right;
        }
    </style>
</head>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary" >Lập đơn đặt hàng</h4>
    </div>

    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Tên khách hàng</span>
            </div>
            <input id="daily" type="text" class="form-control" placeholder="Nhập tên khách hàng">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Mã đơn đặt hàng</span>
            </div>
            <input type="text" class="form-control" value="@ViewBag.MaDH" disabled="disabled">

        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Địa chỉ nhận hàng</span>
            </div>
            <input id="diachi" type="text" class="form-control" placeholder="Nhập địa chỉ nhận hàng">
        </div>
        <br />

        <h5 class="m-0 font-weight-bold text-primary">Thêm chi tiết đơn đặt hàng</h5>
        <table class="table table-responsive" id="tblItems" cellpadding="0">
            <tr>
                <th>
                    Tên hàng hóa
                </th>
                <th>
                    Đơn vị tính
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    %CK
                </th>
                <th>
                    Thành tiền
                </th>
                <th>
                    Ghi chú
                </th>
            </tr>
            <tr id="MainRow">
                <td>
                    <input type="text" id="hanghoa" class="hanghoa form-control" onchange="capnhapgia()" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <input type="text" id="dvtinh" class="dvtinh form-control" disabled="disabled" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <input type="number" id="soluong" class="soluong form-control" onchange="capnhattongtien()" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <input type="text" id="dongia" class="dongia form-control" disabled="disabled" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <input type="number" max="100" id="chietkhau" class="chietkhau form-control" onchange="capnhattongtien()" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <input type="text" id="thanhtien" class="thanhtien form-control" disabled="disabled" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <input type="text" id="ghichu" class="ghichu form-control" />
                    <span class="error text-danger"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-success" id="add">Thêm</button>
                </td>
            </tr>
        </table>

        <h5 class="m-0 font-weight-bold text-primary">Chi tiết đơn đặt hàng</h5>
        <br />

        <table class="table table-bordered" id="bangct">
            <thead>
                <tr>
                    <th>Tên hàng hóa</th>
                    <th>ĐVT</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Chiết khấu</th>
                    <th>Thành tiền</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr class="no-bottom-border">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;"><span style="font-weight:bold;">Tổng tiền: </span></td>
                    <td style="text-align:right;"><span id="tongtien">0</span></td>
                    <td>đồng</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div style="float:right">
            <span class="text-danger" id="orderMessage"></span>
            <input type="button" class="btn btn-primary" id="submit" value="Lưu đơn đặt hàng" />
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-danger" })
        </div>

    </div>
</div>


<script src="~/Scripts/autocomplete/jquery-1.12.4.js"></script>
<script src="~/Scripts/autocomplete/jquery-ui.js"></script>
<script src="~/Scripts/OrderDN.js"></script>

<script>
    $(function () {
        var availableTags = @Html.Raw(Json.Encode(tenhh));
        $("#hanghoa").autocomplete({
            source: availableTags
        });
    });

    $(function () {
        var availableTags = @Html.Raw(Json.Encode(tendl));
        $("#daily").autocomplete({
            source: availableTags
        });
    });

    function capnhapgia() {
        var ss = @Html.Raw(Json.Encode(ds));
        var key = document.getElementById("hanghoa").value;
        var kq = search(key, ss);
        var kqdg = '';
        var kqdvt = ''
        if (!!kq) {
            kqdg = kq.DonGia;
            kqdvt = kq.DonViTinh;
        }
        document.getElementById("dongia").value = kqdg;
        document.getElementById("dvtinh").value = kqdvt;
        capnhattongtien();
    }

    function capnhattongtien() {
        var soluong = document.getElementById('soluong').value;
        var dongia = document.getElementById('dongia').value;
        var chietkhau = document.getElementById('chietkhau').value;
        var thanhtien = parseInt(soluong) * parseInt(dongia) *  parseFloat(parseInt(100 - parseInt(chietkhau)) / 100);
        document.getElementById('thanhtien').value = thanhtien;
    }

    function search(nameKey, myArray) {
        for (var i = 0; i < myArray.length; i++) {
            if (myArray[i].TenHangHoa === nameKey) {
                return myArray[i];
            }
        }
    }

</script>