@model DATN.HTTT2.Areas.Admin.Models.CONG_NO

@{
    ViewBag.Title = "Thông tin công nợ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    /*input {
        text-align: center;
    }*/

    #drop, #drop1 {
        width: 10rem;
    }

    #b, #c {
        visibility: hidden;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary" style="float:left">Thông tin công nợ</h4>
            <div style="float:right">
                <button id="b" type="submit" onclick="return confirm('Bạn có chắc chắn muốn lưu không?');" class="btn btn-success">Lưu</button>
                <button id="c" type="reset" class="btn btn-danger">Hủy</button>
                @Html.ActionLink("Quay lại danh sách công nợ", "Index", null, new { @class = "btn btn-secondary" })
                <button id="a" type="button" class="btn btn-primary">Chỉnh sửa</button>
            </div>
        </div>
        <br />
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaCN)

            <div class="form-group">
                @Html.LabelFor(model => model.MaCN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaCN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaCN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaDL, "MaDL", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaDL", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.MaDL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @id = "aa" } })
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var edit = document.getElementById("a");
        var save = document.getElementById("b");
        var cancle = document.getElementById("c");



        edit.onclick = function () {
            save.style.visibility = "visible";
            cancle.style.visibility = "visible";
            //edit.style.visibility = "hidden";
            document.getElementById("aa").disabled = false;

        }
        cancle.onclick = function () {
            save.style.visibility = "hidden";
            cancle.style.visibility = "hidden";
            //edit.style.visibility = "visible";
            document.getElementById("aa").disabled = true;
        }
    </script>
}
