@model IEnumerable<DATN.HTTT2.Areas.Admin.Models.CONG_NO>

@{
    ViewBag.Title = "Danh sách công nợ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <!-- Custom styles for this page -->
    <link href="~/Du_Lieu/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách công nợ</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaCN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DAI_LY.Ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </th>
                        <th>@Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaCN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DAI_LY.Ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                @foreach (var item in Model)
                {
                <tr id="row_@item.MaCN">
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DAI_LY.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @Html.ActionLink("Chi tiết", "Edit", new { id = item.MaCN }, new { @class = "btn btn-info" }) |
                        @Ajax.ActionLink("Xóa", "Delete1", new { @id = item.MaCN }, new AjaxOptions
                   {
                       Confirm="Bạn có chắc muốn xóa công nợ này ?",
                       OnComplete="$('#row_"+item.MaCN+"').remove()",
                       HttpMethod="Delete"
                   }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                }

            </table>
