@{ 
    var nhanvien = Session["Nhanvien"] as DATN.HTTT2.Areas.Admin.Models.NHAN_VIEN;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/Du_Lieu/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

    <!-- Custom styles for this template-->
    <link href="~/Du_Lieu/css/sb-admin-2.min.css" rel="stylesheet">
    @Styles.Render("~/Content/themes/base/css")
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-server"></i>
                </div>
                <div class="sidebar-brand-text mx-3">HT CNV</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","BaoCao")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Báo cáo</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Quản lý nghiệp vụ chính
            </div>

            <!-- Nav Item - Quản lý đơn đặt hàng Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDDH" aria-expanded="true" aria-controls="collapseDDH">
                    <i class="fas fa-file-invoice"></i>
                    <span>Đơn đặt hàng</span>
                </a>
                <div id="collapseDDH" class="collapse" aria-labelledby="headingDDH" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Components:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Create","DDHCt")">Lập đơn đặt hàng</a>
                        <a class="collapse-item" href="@Url.Action("Index","DDHCT")">Danh sách đơn đặt hàng</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Quản lý giao nhận Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("QLGiaoHang","GiaoHang")">
                    <i class="fas fa-file-invoice"></i>
                    <span>Giao nhận</span>
                </a>

            </li>

            <!-- Nav Item - Quản lý phiếu nhập hàng Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePNH" aria-expanded="true" aria-controls="collapsePNH">
                    <i class="fas fa-file-invoice"></i>
                    <span>Phiếu nhập hàng</span>
                </a>
                <div id="collapsePNH" class="collapse" aria-labelledby="headingPNH" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Create","PNHCt")">Lập phiếu nhập</a>
                        <a class="collapse-item" href="@Url.Action("Index","PNHCt")">Danh sách phiếu nhập hàng</a>
                        <a class="collapse-item" href="@Url.Action("Index","PNHTD")">Danh sách phiếu nhập tự động</a>
                        @*<a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Nav Item - Quản lý phiếu chuyển kho Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCK" aria-expanded="true" aria-controls="collapseCK">
                    <i class="fas fa-file-invoice"></i>
                    <span>Phiếu chuyển kho</span>
                </a>
                <div id="collapseCK" class="collapse" aria-labelledby="headingCK" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Create","PCKCt")">Lập phiếu chuyển kho</a>
                        <a class="collapse-item" href="@Url.Action("Index","PCKCt")">Danh sách phiếu chuyển kho</a>
                        @*<a class="collapse-item" href="utilities-animation.html">Danh sách công nợ</a>*@
                        @*<a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Quản lý thông tin
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHH" aria-expanded="true" aria-controls="collapseHH">
                    <i class="fas fa-file-alt"></i>
                    <span>Hàng hóa</span>
                </a>
                <div id="collapseHH" class="collapse" aria-labelledby="headingHH" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Login Screens:</h6>*@
                        <a class="collapse-item" href="@Url.Action("TonKho","HANG_HOA",new { area="Admin"})">Tồn kho hàng hóa</a>
                        <a class="collapse-item" href="@Url.Action("TonKhoDK","HANG_HOA",new { area="Admin"})">Tồn kho (kế hoạch)</a>
                        <a class="collapse-item" href="@Url.Action("Index","HANG_HOA",new { area="Admin"})">Danh sách hàng hóa</a>
                        <a class="collapse-item" href="@Url.Action("Create","HANG_HOA",new { area="Admin"})">Thêm hàng hóa mới</a>
                        @*<a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>**@
                    </div>
                </div>
            </li>

            <!-- Nav Item - Quản lý khách hàng Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKH" aria-expanded="true" aria-controls="collapseKH">
                    <i class="fas fa-file-alt"></i>
                    <span>Khách hàng</span>
                </a>
                <div id="collapseKH" class="collapse" aria-labelledby="headingKH" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Index","DAI_LY",new { area="Admin"})">Danh sách khách hàng</a>
                        <a class="collapse-item" href="@Url.Action("Index","CONG_NO",new { area="Admin"})">Danh sách công nợ</a>
                        <a class="collapse-item" href="@Url.Action("Create","CONG_NO",new { area="Admin"})">Thêm công nợ</a>
                        <a class="collapse-item" href="@Url.Action("Create","DAI_LY",new { area="Admin"})">Thêm khách hàng mới</a>
                        @*<a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Nav Item - Quản lý nhà cung cấp Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNCC" aria-expanded="true" aria-controls="collapseNCC">
                    <i class="fas fa-file-alt"></i>
                    <span>Nhà cung cấp</span>
                </a>
                <div id="collapseNCC" class="collapse" aria-labelledby="headingNCC" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Index","NHA_CUNG_CAP",new { area="Admin"})">Danh sách nhà cung cấp</a>
                        <a class="collapse-item" href="@Url.Action("Create","NHA_CUNG_CAP",new { area="Admin"})">Thêm nhà cung cấp mới</a>

                        @*<a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Nav Item - Quản lý loại hàng hóa Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLHH" aria-expanded="true" aria-controls="collapseLHH">
                    <i class="fas fa-file-alt"></i>
                    <span>Loại hàng hóa</span>
                </a>
                <div id="collapseLHH" class="collapse" aria-labelledby="headingLHH" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@

                        <a class="collapse-item" href="@Url.Action("Index","LOAI_HANG_HOA",new { area="Admin"})">Danh sách các loại hàng hóa</a>
                        <a class="collapse-item" href="@Url.Action("Create","LOAI_HANG_HOA",new { area="Admin"})">Thêm loại hàng hóa mới</a>
                        @*<a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Nav Item - Quản lý kho hàng Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKHO" aria-expanded="true" aria-controls="collapseKHO">
                    <i class="fas fa-file-alt"></i>
                    <span>Kho hàng</span>
                </a>
                <div id="collapseKHO" class="collapse" aria-labelledby="headingKHO" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Index","KHO_HANG",new { area="Admin"})">Danh sách kho hàng</a>
                        <a class="collapse-item" href="@Url.Action("Create","KHO_HANG",new { area="Admin"})">Thêm kho hàng mới</a>

                        @*<a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Hướng dẫn -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="far fa-question-circle"></i>
                    <span>Hướng dẫn</span>
                </a>
            </li>


            <!-- Nav Item - Charts -->
            @*<li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </li>*@

            <!-- Nav Item - Tables -->
            @*<li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span>
            </a>
        </li>*@

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Xin chào, @nhanvien.HoTen !</span>
                                <img class="img-profile rounded-circle" src="~/Du_Lieu/img/user.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("DoiMK","NHAN_VIEN",new {area="Admin"})">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đổi mật khẩu
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                @RenderBody()
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy;CNV @DateTime.Now.Year</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn thoát?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Chọn đăng xuất để thoát khỏi tài khoản</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-primary" href="@Url.Action("DangXuat","Home",new {area=""})">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Du_Lieu/vendor/jquery/jquery.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Du_Lieu/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Du_Lieu/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Du_Lieu/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Du_Lieu/vendor/chart.js/Chart.min.js"></script>



        <!-- Page level plugins -->
        <script src="~/Du_Lieu/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Du_Lieu/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Du_Lieu/js/demo/datatables-demo.js"></script>
        @Scripts.Render("~/bundles/jqueryui")

        @RenderSection("scripts", required: false)
</body>

</html>