@model DATN.HTTT2.Areas.Admin.Models.ViewModels.XemPCK

@{
    ViewBag.Title = "Xem chi tiết phiếu chuyển kho";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <!-- Custom styles for this page -->
    <link href="~/Du_Lieu/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary" style="float:left">Phiếu chuyển kho @Model.PHIEU_CHUYEN_KHO.MaPCK</h4>
        <div style="float:right">
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
            @Html.ActionLink("In", "Print", new { id = Model.PHIEU_CHUYEN_KHO.MaPCK }, new { @class = "btn btn-info" })
        </div>
    </div>
    <br />

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Kho xuất</span>
        </div>
        <input id="daily" type="text" class="form-control" value="@Model.PHIEU_CHUYEN_KHO.KHO_HANG1.TenKH" disabled="disabled">

        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Kho nhận</span>
        </div>
        <input type="text" class="form-control" value="@Model.PHIEU_CHUYEN_KHO.KHO_HANG.TenKH" disabled="disabled">

    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nhân viên lập phiếu</span>
        </div>
        <input id="diachi" type="text" class="form-control" value="@Model.PHIEU_CHUYEN_KHO.NHAN_VIEN.HoTen" disabled="disabled">
    </div>
    <br />
    <div class="card-header p-3">
        <h5 class="m-0 font-weight-bold text-primary">Chi tiết phiếu chuyển kho</h5>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên hàng hóa
                        </th>
                        <th>
                            ĐVT
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Ghi chú
                        </th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên hàng hóa
                        </th>
                        <th>
                            ĐVT
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Ghi chú
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.cHI_TIET_PCKs)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.STT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HANG_HOA.TenHangHoa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HANG_HOA.DonViTinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ghichu)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

