@model IEnumerable<DATN.HTTT2.Areas.Admin.Models.LOAI_HANG_HOA>

@{
    ViewBag.Title = "Danh sách loại hàng hóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <!-- Custom styles for this page -->
    <link href="~/Du_Lieu/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách loại hàng hóa</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaLoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenLoai)
                        </th>
                        <th>@Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaLoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenLoai)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.MaLoai">
                        <td>
                            @Html.DisplayFor(modelItem => item.MaLoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenLoai)
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "Edit", new { id = item.MaLoai }, new { @class = "btn btn-info" }) |
                            @Ajax.ActionLink("Xóa", "Delete1", new { @id = item.MaLoai }, new AjaxOptions
                       {
                           Confirm="Bạn có chắc muốn xóa loại hàng hóa?",
                           OnComplete="$('#row_"+item.MaLoai+"').remove()",
                           HttpMethod="Delete"
                       }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
